body{
  background-color: rgb(251, 208, 127);
}
#about{
  margin-top: 100px;
  text-align: center;
  background-color: orange;
  height:200px
}
#location{
  margin-left: 20%;
  margin-top: 30px;
  font-size: 18px;
  height:45px;
  width:400px;
  background-color: seagreen;
}
#days{
  font-size: 18px;
  height:45px;
  width:400px;
  background-color: seagreen;
}
#input{
  height:100px;
  background-color: black;
}
#cart{
  color:red;
}
#test{
  background-color: chartreuse;
}
#data{
  background-color: chartreuse;
}
.name{
  color:white;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
 
  
}
a{
  color: inherit;
}
.jeeps{
display: flex;
justify-content: space-evenly;
margin-top: 100px;

/* align-items: center; */

}
.faves{
  margin-top: 70px;
}
.aa{
margin-top: 330px;
margin-bottom: 100px;
margin-left: 30%;
}
.item-price{
  background-color:#f4f4f4 ;
  /* font-weight: 200; */
}
#click{
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 80px; */
}
#ss{
  color:red;
}
#nyc{
  border:solid
}
#jeep1{
  border:solid
}
#jeep2{
  border:solid
}
#jeep3{
  border:solid
}
#jeep4{
  border:solid
}